<div>
  <nav class = 'navbar navbar-default'>
    <div class = 'container-fluid'>
       <a class = 'navbar-brand'> {{pageTitle}}</a>
       <ul class = 'nav navbar-nav'>
          <li><a [routerLink] = "['/Home']">E-Ward Patient Monitoring <br>and Management System</a></li>
          <li><a [routerLink] = "['/Persons']">Persons</a></li>
          <li><a [routerLink] = "['/Wards']">Wards</a></li>
          <li><a [routerLink] = "['/Beds']">Beds</a></li>
          <li><a [routerLink] = "['/Patients']">Patients</a></li>
          <li><a [routerLink] = "['/Admissions']">Admissions</a></li>
       </ul>
    </div>
  </nav>
  <div class = "container">
      <router-outlet></router-outlet>
  </div>
</div>